@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

    /*  MOBILE FIRST  */
/* Left-side/Top-side  */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.left-side {
    display: block;
    margin-bottom: 60px;
}

.left-side  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 90px;
}

.left-side header h1 {
    font-size: 27px;
    width: 75%;
    margin-bottom: 20px;
}

.left-side header p {
    width: 85%;
    font-size: 16px;
}


/* Right-side/down-side */

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.trial-card {
    background-color: hsl(248, 32%, 49%);
    width: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 26px;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
}

.trial-card p {
    width: 80%;
    color: rgba(255, 255, 255, 0.800);
}

.form {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 23px;
    margin-bottom: 60px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
}

.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-bottom: 18px;
}

.form-control img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 18px;
    top: 16px;
}

.form-control small {
    color: hsl(0, 100%, 74%);
    text-align: right;

}

.form-control input {
    display: block;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.140);
    font-size: 14px;
    font-weight: bold;
    outline-color: hsl(248, 32%, 49%);
}

.submit-btn {
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 1.2px;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 0px hsl(154, 48%, 48%);
}

.submit-btn:hover {
    background-color: hsl(154, 69%, 66%);
    box-shadow: 0px 4px 0px hsl(154, 58%, 58%);
    cursor: pointer;
}

.form > small {
    color: rgba(0, 0, 0, 0.400);
    font-size: 10px;
    text-align: center;
    margin: 15px 24px 4px 24px;
}

.form > small > a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}


/* Validation */

.form-control small {
    visibility: hidden;
}

.form-control img {
    visibility: hidden;
}

.form-control.error input{
    border-color: hsl(0, 100%, 74%);
}

.form-control.error img {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    margin-top: 5px;
}

.form-control.email-exemple.error ::placeholder{
    color: hsl(0, 100%, 74%);
}

    /*  Media-Queries */

/* MODELO TABLET */
@media (min-width: 768px) {

    body {
        height: 100vh;
        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
        background-repeat: repeat-y;
        background-size: cover;
    }

    /* Left-side/Top-side  */

    .left-side  header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        text-align: center;
        margin-top: 80px;
    }
    
    .left-side header h1 {
        font-size: 30px;
        width: 50%;
        margin-bottom: 20px;
    }
    
    .left-side header p {
        width: 60%;
        font-size: 18px;
    }
    
    
    /* Right-side/down-side */
    
    .trial-card {
        background-color: hsl(248, 32%, 49%);
        width: 60%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 26px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
    }
    
    .trial-card p {
        width: 80%;
        color: rgba(255, 255, 255, 0.800);
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 100%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 32px;
        margin-bottom: 50px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
    }
    
    .form-control input {
        display: block;
        padding: 18px 26px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.140);
        font-size: 14px;
        font-weight: bold;
        outline-color: hsl(248, 32%, 49%);
    }
    
}


/* MODELO LAPTOP */
@media (min-width: 1024px) {

    body {
        height: 100vh;
        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
        background-repeat: repeat-y;
        background-size: cover;
    }

    /* Left-side/Top-side  */
    
    .left-side {
        display: block;
        margin-bottom: 60px;
    }
    
    
    .left-side header h1 {
        font-size: 29px;
        width: 30%;
        margin-bottom: 20px;
    }
    
    .left-side header p {
        width: 32%;
        font-size: 17px;
    } 
    
    /* Right-side/down-side */
    
    .trial-card {
        background-color: hsl(248, 32%, 49%);
        width: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 26px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
    }
    
    .trial-card p {
        width: 80%;
        color: rgba(255, 255, 255, 0.800);
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 100%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 32px;
        margin-bottom: 80px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
    }
    
    .form-control input {
        display: block;
        padding: 18px 26px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.140);
        font-size: 14px;
        font-weight: bold;
        outline-color: hsl(248, 32%, 49%);
    }

}


/*  MODELO LAPTOP LARGE */
@media (min-width: 1440px) {

    body {
        height: 100vh;
        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
        background-repeat: repeat-y;
        background-size: cover;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    
    .left-side {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 0px;
    }
    
    .left-side header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        color: white;
        text-align: start;
        margin-top: 0px;
        margin-right: 45px;
    }
    
    .left-side header h1 {
        font-size: 48px;
        width: 74%;
        margin-bottom: 20px;
    }
    
    .left-side header p {
        width: 74%;
        font-size: 16px;
        text-align: start;
    }

    /* Right-side/down-side */

    .right-side {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: flex-start;
    }

    .trial-card {
        background-color: hsl(248, 32%, 49%);
        width: 70%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 20px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
        margin-left: 45px;
    }

    .trial-card p {
        width: 75%;
        color: rgba(255, 255, 255, 0.800);
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 100%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 36px;
        margin-bottom: 0px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
        margin-left: 45px;
    }

    .submit-btn {
        box-sizing: border-box;
        padding: 18px;
        background-color: hsl(154, 59%, 51%);
        border: none;
        border-radius: 6px;
        color: white;
        letter-spacing: 1.2px;
        font-size: 15px;
        font-weight: 700;
        box-shadow: 0px 4px 0px hsl(154, 48%, 48%);
    }

}


/* MODELO DESKTOP */
@media (min-width: 1920px) {

    body {
        height: 100vh;
        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
        background-repeat: repeat-y;
        background-size: cover;
    }

    .container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    
    .left-side {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 0px;
    }
    
    .left-side header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        color: white;
        text-align: start;
        margin-top: 0px;
        margin-right: 60px;
    }
    
    .left-side header h1 {
        font-size: 50px;
        width: 62%;
        margin-bottom: 24px;
    }
    
    .left-side header p {
        width: 62%;
        font-size: 18px;
        text-align: start;
    }

    /* Right-side/down-side */

    .right-side {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: flex-start;
    }

    .trial-card {
        background-color: hsl(248, 32%, 49%);
        width: 58%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 20px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
        margin-left: 60px;
    }

    .trial-card p {
        width: 75%;
        color: rgba(255, 255, 255, 0.800);
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 58%;
        max-width: 100%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 36px;
        margin-bottom: 0px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.125);
        margin-left: 60px;
    }

    .form-control input {
        display: block;
        padding: 18px 30px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.140);
        font-size: 14px;
        font-weight: bold;
        outline-color: hsl(248, 32%, 49%);
    }

}